@media(min-width:500px){
    .form-foot{
       width: 50%;
    }

}                                          /* style adapté a la navigation */
@media (max-width:991px){
    .div-card{
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
    }
    .div-card button{
        position: relative;
        left: 100px;
    }
    .navbar-collapse ul{
        justify-content: center;
        align-items: center;
        display: flex;
    }
}
@media (max-width:767px){
    .text-plus-etoiles,.section6,.conseil,.section12 .mot{
        margin-top: 30px;
    }
    .section12 .mot{
        margin-top: 10px;
    }
      
}

.card-ico{
    background-size: cover ;
    background-position: center;
    width: 100px;
    height: 80px;
   
}
.card-center{
    justify-content: center;
    align-items: center;
    display: flex;
}
img{
    width: 85px;
    height: 35px
}
nav{
    box-shadow: 0px 2px 30px rgba(189, 188, 188, 0.777);
}
nav li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: large;
    
}
nav li a{
    color: rgba(226, 223, 223, 0.055);
}

                                        /* section 1 */
.banner{
    background-image: url("../assets/icons/Group.png");  
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    background-size: cover;
    background-position:center;
    padding: 20px;
   
    
   
}
.rose{
    color: #CB5A90;

}
.section1 h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:600;
    
}
.section1 h5{

    color: rgb(158, 157, 157);
    font-family:Arial, Helvetica, sans-serif
    
}

.section1 .div-text2{
    margin-top: 40px;
}
.section1{
    padding: 45px;
    background-color: #FDEBF1;
}
.textes{
    padding-top: 50px;
}

                                            /* section 2 */
.section2{
    background-color: #CB5A90;
    padding-bottom: 100px;
    
}
.section2 .text{
    color: rgba(255, 255, 255, 0.808);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;
}
.section2 .name{
    color: rgba(255, 255, 255, 0.808);
    font-size: 15px;
  
    
}
.pt-20{
    padding-top: 70px;
}

.star-white{
    color: white
}


                                            /* section3 */
.section3 .text{

    justify-content: center;
    display: flex;
    align-items: center;

}
.section3 .m-2{
    margin-left: 300px;

}
.section3{
    margin-top: 100px;
}

                                            /* section4 */
.section4 .div-img{
    height: 300px;
    background-color: #FDEBF1;
}
.section4 .img1{
    width: 200px;
    height: 200px;
    background: url('../assets/icons/Frame\ 43.png');
    background-position: center;
    background-size: cover;
    position: relative;
    top:20px
}
.section4 .img2{
    width: 200px;
    height: 200px;
    background: url('../assets/icons/Frame\ 44.png');
    background-position: center;
    background-size: cover;
    position: relative;
    top:20px
}
.section4 .img3{
    width: 200px;
    height: 200px;
    background: url('../assets/icons/Frame\ 45.png');
    background-position: center;
    background-size: cover;
    position: relative;
    top:20px
}
.section4 h4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: bold;
    font-size: larger;
    color: rgb(102, 99, 99);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-rounded{
    border-radius: 10px;
}

.section4{
    margin-top: 50px;
}
.section4 .div-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

}

/* section 5 */
.section5{
    margin-top: 50px;
}

/* section6 */
.section6{
    padding-top: 50px;
    padding-bottom: 50px;
    
    margin-top: 60px;
    background-color:#FDEBF1; 
}
.section6 .img-rounded{
    border-radius: 20px;
}
.section6 div p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgba(66, 65, 65, 0.747);
}
.section6 div h4{
    color: rgba(66, 65, 65, 0.938);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


/* section 7 */
.section7{
    margin-top: 50px;
    background: #CB5A90;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.section7 .titre{
    color: white;
}
.section7 input{
    margin-top: 20px;
}

/* section 8 */
.section8{
    margin-top: 100px;

}

/* section9 */
.section9{
    margin-top: 30px;
    background-color: rgba(207, 204, 204, 0.479);
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.section9 h5{
    color: rgba(0, 0, 0, 0.795);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section10{
    margin-top: 100px;
}
.section11{
    margin-top: 50px;
    background-color: #FDEBF1; 
    padding: 20px;
    border-radius: 20px;
}
.section12{
    background: #CB5A90;
    padding-bottom: 10px;
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.801);
}
.section12 .img-foot{
    background-image: url('../assets/icons/logo.png');
    height: 80px;
    width: 200px;
    background-size: cover;
    background-position: center;
}
.section12 h6 ul{
    list-style: none;
    
    
}
.section12 h6 ul a{
    color: rgba(255, 255, 255, 0.801);
    text-decoration: none;
}
.divided{
    background: #fdebf1af;
    height: 1px;
}
